* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --CinzaAzulado:#7d84b9;
    --AzulClaro:#36639c;
    --AzulEscuro:#052a5e;
    --PretoAzulado:#020c25;
    --VermelhoTerra:#651f17;
    --Laranja:#f06929;
}
body{
    background-color: var(--AzulEscuro);
}
.linha-vertical {
    position: absolute;
    transform: rotate(90deg);
    border-left: 11px solid var(--VermelhoTerra);
    height: 1000px;
    margin: 20px; 
    top: 0%;
    left: 60%;
    z-index: 99;
}
.losangulo{
    width: 150px; 
    height: 150px; 
    background-color: var(--VermelhoTerra);
    transform: rotate(45deg); 
    margin: 50px; 
    position: absolute;
    top: 42%;
    left: 84.5%;
    z-index: 99;
}
.losangulo2{
    width: 150px; 
    height: 150px; 
    background-color: var(--VermelhoTerra);
    transform: rotate(45deg); 
    margin: 50px; 
    position: absolute;
    top: 1.2%;
    left: 58.9%;
    z-index: 99;
}
.triangulo {
    position: absolute;
    top: 52.3%;
    left: 34%;
    z-index: 99;
    transform: rotate(90deg);
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;  
    border-right: 20px solid transparent; 
    border-bottom: 60px solid var(--VermelhoTerra); 
}
.logo{
    width: 70px;
    height: 70px;
    position: absolute;
    margin: 10px;
}
.centro{
    background-color: transparent;
    height:450px;
    width:95%;
    position: relative;
    top:-30%;
    left:49.25%;
    transform: translate(-50% , 30%);
} 
.coluna{
    width: 27%;
    height: 208%;
    top: -30%;
    left: 67%;
    position: absolute;
    z-index: 99;
    background-color:var(--PretoAzulado);
}
.ImagemColuna{
    position: absolute;
    top: -10%;
    left: 25%;
    width: 50%;
    height: 110%;
}
.retangulo{
    background-color: var(--AzulClaro);
    height: 100%;
    width: 90%;
    left: 8%;
    position: relative;
    border: solid 2px var(--Laranja);
    border-radius:15px;
}
.paragrafolinks {
    position: absolute;
    left: 27%;
    top:-600%;
    width: 30%;
    background-color: rgb(17, 17, 17); 
    border-radius: 10px; 
    padding: 15px; 
    font-family: Arial, sans-serif;
    font-size: 18px; 
    color: rgb(255, 255, 255); 
    display: inline-block; 
    align-items: center;
}
.paragrafolinks span {
    color: var(--Laranja);
    font-weight: bold;
}
.links{
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50% , 50%);
}
.signin{
    text-decoration: none;
    position: relative;
    top: 130%;
    left: 25%;
    transform: translate(-50% , -35%);
    padding: 1.3em 3em;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000000;
    background-color: var(--CinzaAzulado);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.8s ease 0s;
    cursor: pointer;
    outline: none;
}
.signin:hover {
    background-color: #1fa36e;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: rgb(255, 255, 255);
}
.register {
    text-decoration: none;
    position: relative;
    top: 130%;
    left: 32%;
    transform: translate(-50% , -35%);
    padding: 1.3em 3em;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: var(--CinzaAzulado);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.8s ease 0s;
    cursor: pointer;
    outline: none;
}
.register:hover {
    background-color: #1fa36e;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: rgb(255, 255, 255);
}
.container {
    display: inline-flex;
    position: relative;
    margin-top:100px;
    margin-left: 50px;
}
.estatico{
    margin-top:12px;
}
.container .estatico {
    color: black;
    font-size: 60px;
    font-weight: 400;
}
.container .dinamico {
    margin-left: 15px;
    line-height: 90px;
    height: 90px;
    color: red;
    overflow: hidden;
}
.dinamico li {
    color: var(--Laranja);
    list-style: none;
    font-size: 60px;
    font-weight: 300;
    left: 0;
    position: relative;
    top: 0;
    animation: slide 66s steps(33) infinite; /* 33 itens * 1.5s por item */
}

@keyframes slide {
    100% {
        top: -2970px; /* 33 itens * 90px */
    }
}
.dinamico li span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-left: 2px solid black;
    animation: typing 1.5s steps(15) 1 forwards, infinite 1.5s;
    background: var(--AzulClaro);
}
.dinamico li span {
    position: relative;
}
@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}
/*
.navbar {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: top;
    padding: 10px 20px;
    background: transparent;
    left: 43%;
    top: -210px;
}
.navbar a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.navbar .element {
    position: relative;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: transparent;
  }
  
  .navbar .element::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    width: 0;
    height: 3px;
    border: 1px solid #5918db;
    border-radius: 5px;
    background-color: #5918db;
    transition: width 0.5s ease-in-out;
  }


  .navbar .element:hover::before {
    width: 100%;
  }
.navbar a.signin {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    background: white;
}
.navbar a.signin:hover{
    background: rgb(0, 0, 0);
    border: 1px solid rgb(53, 53, 53);
    transition: all 0.5s ease-in-out;
    color: #fff;
}
.navbar a.signin:not(:hover) {
    transition: all 0.9s ease-in-out;
    border: 1px solid black;
    background: transparent;
}
.navbar a.register{
    background:white;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.navbar a.register:hover{
    background: rgb(0, 0, 0);
    border: 1px solid rgb(53, 53, 53);
    transition: all 0.5s ease-in-out;
    color: #fff;
}
.navbar a.register:not(:hover){
    transition: all 0.9s ease-in-out;
    border: 1px solid rgb(0, 0, 0);
    background: transparent;
} */