:root {
  --posicaoinput: 28%;
  --marginnav: 110px;
  --CinzaAzulado: #3a3f61;
  --AzulClaro: #36639c;
  --AzulEscuro: #052a5e;
  --PretoAzulado: #020c25;
  --VermelhoTerra: #651f17;
  --Laranja: #f06929;
  --color-gpt-green: #10A37F;
  --color-light-green: #DFF4F0;
  --color-dark-gray: #343541;
  --color-medium-gray: #40414F;
  --color-light-gray: #202123;
  --color-white: #FFFFFF;
  --color-light-blue: #19C9E1;
  --color-soft-purple: #8C8D9F;
  --color-black: #000000;
  --color-neutral-beige: #F7F7F8;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: transparent;
}

.forn{
  background-color: var(--PretoAzulado);
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-cad {
  background-color: var(--color-neutral-beige);
  margin: 5%;
  padding: 2rem;
  border: 1px solid transparent;
  border-radius: 20px;
  width: 80%;
}

.center {
  text-align: center;
}

.Cadastrese {
  font-size: 3em;
  color: var(--PretoAzulado);
  margin-bottom: 10px;
}

.text {
  font-size: 1.2em;
  color: var(--AzulClaro);
}

.input-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.input {
  width: calc(100% - 50px);
  border: solid 3px var(--AzulEscuro);
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: var(--AzulEscuro);
  transition: border 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
  position: absolute;
  left: 15px;
  top: -1%;
  color: var(--AzulEscuro);
  pointer-events: none;
  transform: translateY(1rem);
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
input:valid {
  outline: none;
  border: 1.5px solid var(--AzulEscuro);
}

.input:focus~.user-label,
input:valid~.user-label {
  transform: translateY(-50%) scale(0.8);
  background-color: white;
  padding: 0 .2em;
  color: var(--AzulEscuro);
  font-size: 0.8em;
}

.hidepassword {
  background: transparent;
  border: 0px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
}

.olhoaberto {
  width: 100%;
  height: 100%;
}

.btn-submit {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: var(--color-light-gray);
  background-color: var(--color-gpt-green);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(21, 255, 0, 0.5); /* Sombra verde */
  transition: all 0.8s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn-submit:hover {
  background-color: #1fa36e;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #ffffff;
  transform: translateY(-7px);
}

.btn-submit:active {
  transform: translateY(-1px);
}

a {
  color: var(--AzulEscuro);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--color-gpt-green);
}

#mensagem {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--VermelhoTerra);
}
