<<<<<<< HEAD
:root{
  --posicaoinput: 28%;
  --marginnav: 110px;
  --CinzaAzulado:#3a3f61;
  --AzulClaro:#36639c;
  --AzulEscuro:#052a5e;
  --PretoAzulado:#020c25;
  --VermelhoTerra:#651f17;
  --Laranja:#f06929;
=======
:root {
  --posicaoinput: 28%;
  --marginnav: 110px;
  --CinzaAzulado: #3a3f61;
  --AzulClaro: #36639c;
  --AzulEscuro: #052a5e;
  --PretoAzulado: #020c25;
  --VermelhoTerra: #651f17;
  --Laranja: #f06929;
>>>>>>> d51ffb1ccdf5270926ab0aafe34855659724b3ca
  --color-gpt-green: #10A37F;
  --color-light-green: #DFF4F0;
  --color-dark-gray: #343541;
  --color-medium-gray: #40414F;
  --color-light-gray: #202123;
  --color-white: #FFFFFF;
  --color-light-blue: #19C9E1;
  --color-soft-purple: #8C8D9F;
  --color-black: #000000;
  --color-neutral-beige: #F7F7F8;
}
<<<<<<< HEAD
*{
=======

* {
>>>>>>> d51ffb1ccdf5270926ab0aafe34855659724b3ca
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
<<<<<<< HEAD
html{
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
}
.logo{
  width: 70px;
  height: 70px;
  position: absolute;
  margin: 10px;
}
.form{
  background-color:var(--PretoAzulado);
  width: 50%;
  height: 100%;
}
.geniodadiv {
  position: absolute;
  height: 90%;
  width: 90%;
  top: 2.5%;
  left: 5.2%;
  border: 1px solid transparent;
  border-radius: 20px;
}
.paineldireito{
  position: absolute;
  width: 40%;
  height: 90%;
  background-color: #ffffff;
  left: 4%;
  top: 2.5%;
  border: solid 1px transparent;
  border-radius: 20px;
}
.painelesquerdo{
  position: absolute;
  left: 50%;
  top: 0%;
  width: 50%;
  height: 100%;
  background-color: var(--PretoAzulado);
}
.input-email {
  width: 640px;
  border: solid 3px var(--AzulEscuro);
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: black;
  transition: border 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.user-label-email {
  position: absolute;
  left: 15px;
  top: -1%;
  color: var(--AzulEscuro);
  pointer-events: none;
  transform: translateY(1rem);
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.input-email:focus,
input:valid {
  outline: none;
  border: 1.5px solid var(--AzulEscuro);
}
.input-email:focus~label,
input:valid~label {
  transform: translateY(-50%) scale(0.8);
    background-color: white;
    padding: 0 .2em;
    color: var(--AzulEscuro);
    font-size: 2.1em;
}
.input-group-email {
  position: absolute;
  top: 22%;
  left: 5%;
  margin: 10px;
}

.input-pnome {
  width: 290px;
  border: solid 3px var(--AzulEscuro);
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: black;
  transition: border 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.user-label-pnome {
  position: absolute;
  left: 15px;
  top: -1%;
  color: var(--AzulEscuro);
  pointer-events: none;
  transform: translateY(1rem);
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);;
}
.input-pnome:focus,
input:valid {
  outline: none;
  border: 1.5px solid var(--AzulEscuro);
}
.input-pnome:focus~label,
input:valid~label {
    transform: translateY(-50%) scale(0.8);
    background-color: white;
    padding: 0 .2em;
    color: var(--AzulEscuro);
    font-size: 2.1em;
}
.input-group-pnome {
  position: absolute;
  top: 32%;
  left: 5%;
  margin: 10px;
}
.input-group-snome {
  position: absolute;
  top: 32%;
  left: 50.5%;
  margin: 10px;
}
.input-snome {
  width: 290px;
  border: solid 3px var(--AzulEscuro);
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: black;
  transition: border 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.user-label-snome {
  position: absolute;
  left: 15px;
  top: -1%;
  color: var(--AzulEscuro);
  pointer-events: none;
  transform: translateY(1rem);
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.input-snome:focus,
input:valid {
  outline: none;
  border: 1.5px solid var(--AzulEscuro);
}
.input-snome:focus~label,
input:valid~label {
  transform: translateY(-50%) scale(0.8);
  background-color: white;
  padding: 0 .2em;
  color: var(--AzulEscuro);
  font-size: 2.1em;
}
.input-group-senha1 {
  position: absolute;
  top: 43%;
  left: 5%;
  margin: 10px;
}
.input-senha1 {
  width: 640px;
  border: solid 3px var(--AzulEscuro);
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: black;
  transition: border 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.user-label-senha1 {
  position: absolute;
  left: 15px;
  top: -1%;
  color: var(--AzulEscuro);
  pointer-events: none;
  transform: translateY(1rem);
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.input-senha1:focus,
input:valid {
  outline: none;
  border: 1.5px solid var(--AzulEscuro);
}
.input-senha1:focus~label,
input:valid~label {
  transform: translateY(-50%) scale(0.8);
    background-color: white;
    padding: 0 .2em;
    color: var(--AzulEscuro);
    font-size: 2.1em;
}
.input-group-senha2 {
  position: absolute;
  top: 54%;
  left: 5%;
  margin: 10px;
}
.input-senha2 {
  width: 640px;
  border: solid 3px var(--AzulEscuro);
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: black;
  transition: border 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.user-label-senha2 {
  position: absolute;
  left: 15px;
  top: -1%;
  color: var(--AzulEscuro);
  pointer-events: none;
  transform: translateY(1rem);
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.input-senha2:focus,
input:valid {
  outline: none;
  border: 1.5px solid var(--AzulEscuro);
}
.input-senha2:focus~label,
input:valid~label {
  transform: translateY(-50%) scale(0.8);
  background-color: white;
  padding: 0 .2em;
  color: var(--AzulEscuro);
  font-size: 2.1em;
=======

body {
  font-family: Arial, sans-serif;
  background-color: transparent;
}

.forn{
  background-color: var(--PretoAzulado);
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-cad {
  background-color: var(--color-neutral-beige);
  margin: 5%;
  padding: 2rem;
  border: 1px solid transparent;
  border-radius: 20px;
  width: 80%;
}

.center {
  text-align: center;
}

.Cadastrese {
  font-size: 3em;
  color: var(--PretoAzulado);
  margin-bottom: 10px;
>>>>>>> d51ffb1ccdf5270926ab0aafe34855659724b3ca
}

.text {
  font-size: 1.2em;
  color: var(--AzulClaro);
}

.input-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.input {
  width: calc(100% - 50px);
  border: solid 3px var(--AzulEscuro);
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: var(--AzulEscuro);
  transition: border 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
  position: absolute;
  left: 15px;
  top: -1%;
  color: var(--AzulEscuro);
  pointer-events: none;
  transform: translateY(1rem);
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
input:valid {
  outline: none;
  border: 1.5px solid var(--AzulEscuro);
}

.input:focus~.user-label,
input:valid~.user-label {
  transform: translateY(-50%) scale(0.8);
  background-color: white;
  padding: 0 .2em;
  color: var(--AzulEscuro);
  font-size: 0.8em;
}

.hidepassword {
  background: transparent;
  border: 0px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
}
<<<<<<< HEAD
.btn-submit {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
  padding: 1.3em 3em;
  font-size: 18px;
=======

.olhoaberto {
  width: 100%;
  height: 100%;
}

.btn-submit {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1.2em;
>>>>>>> d51ffb1ccdf5270926ab0aafe34855659724b3ca
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: var(--color-light-gray);
  background-color: var(--color-gpt-green);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(21, 255, 0, 0.5); /* Sombra verde */
  transition: all 0.8s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn-submit:hover {
  background-color: #1fa36e;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #ffffff;
  transform: translateY(-7px);
}

.btn-submit:active {
  transform: translateY(-1px);
}

a {
  color: var(--AzulEscuro);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--color-gpt-green);
}

#mensagem {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--VermelhoTerra);
}
<<<<<<< HEAD
.Cadastrese {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translate(-50%, 4%);
  font-size: 2.8rem;
}
.text{
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, 4%);
  font-size: 1.5rem;
}
.signup {
  position: relative;
  top: 85%;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
  z-index: 99;
}
=======
>>>>>>> d51ffb1ccdf5270926ab0aafe34855659724b3ca
