<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="/static/css/style.sobrenos.css"> </head>
<body>
    <header>
        <h1 class="Titulo">Callista</h1>
        <nav>
            <ul>
                <a class="element" href="{{ url_for('hub') }}">HUB</a>
                <a href="{{ url_for('login') }}" class="signin">Login</a>

                <li><a href="#">Produtos</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="sobre-nos">
            <h2>Sobre Nós</h2>
            <p>Somos uma empresa que adora ajudar seus clientes e alunos onde nossa principal ideia é na facilitação de trabalhos curriculares.</p>
            <p>Nossa equipe é composta por profissionais altamente qualificados e experientes, que estão sempre buscando as melhores práticas do mercado.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Callisto. Todos os direitos reservados.</p>
    </footer>
</body>
</html>