<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.recupera.senha.email.css') }}">
    <title>Recuperar</title>
</head>
<body>
    <section class="navegacao">
        <!---->
        <img class="logo" src="/Imgs Gerais/imgs/neguinmelancia.png" alt="">
        <nav class="nav" id="nav">
            <a href="#" class="elemento" id="elemento">Voltar</a>
            <a href="{{ url_for('login') }}" class="signin">Login</a>
            <a href="#" class="elemento" id="elemento">Ajuda</a>
            <a class="element" href="{{ url_for('index') }}">HUB</a>

        </nav>
    </section>
    <div class="caixa">
        <h2>Recuperar Senha</h2>
        <form action="/RecuperarSenha/recupera2/IndexRecuperaSenha2.html" method="post">
            <div class="input-group">
                <input autocomplete="current-password" required type="email" name="iptEmailLogin" class="input">
                <label class="user-label">Email</label>
            </div>
            <br>
            <br>
            <a href="/RecuperarSenha/recupera2/IndexRecuperaSenha2.html">
                <button type="submit" id="btnEntrarLOGIN" class="btn-submit" onclick="tclaEnter()">Enviar Codigo</button>
            </a>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/script.recupera.senha.email.js') }}"></script>
</body>
</html>