<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.hub.css') }}">
</head>
<body>
    <nav class="navbar" id="navbar">
        <!--Logo da Empresa-->
        <img class="logo" src="" alt="">
        <div class="navbar">
            <a class="element" href="/testes/indexteste.html">Produtos</a>
            <a class="element" href="#">Cronogramas</a>
            <a class="element" href="#">Comunidade</a>
            <a class="element" href="#">Sobre nós</a>
            <a href="#" class="signin">Login</a>
            <a href="#" class="register">Cadastrar-se</a>
        </div>
    </nav>
    
    <script src="{{ url_for('static', filename='js/script.hub.js') }}"></script>
</body>
</html>