<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela/Inicial/Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.chat.css') }}">
    
</head>

<body>
    <nav class="navbar" id="navbar">
        <!--
                Logo da Empresa
        <img class="logo" src="" alt="">
        -->
            <a class="element" href="/indexes/index.Hub.html">Produtos</a>
            <a class="element" href="/testes/indexteste.html">Cronogramas</a>
            <a class="element" href="#">Comunidade</a>
            <a class="element" href="#">Sobre nós</a>
            <a href="/indexes/Login/index.login.html" class="signin">Login</a>
            <a href="/indexes/cadratro/index.cadrastro.html" class="register">Cadastrar-se</a>
    </nav>
    <section class="chat" id="chat">
        <div class="checkbox-wrapper-35">
            <input value="private" name="switch" id="switch" type="checkbox" class="switch">
            <label for="switch">
        <span class="switch-x-text">O Chat está</span>
        <span class="switch-x-toggletext">
          <span class="switch-x-unchecked"><span class="switch-x-hiddenlabel">Unchecked: </span>Off</span>
          <span class="switch-x-checked"><span class="switch-x-hiddenlabel">Checked: </span>On</span>
        </span>
      </label>
        </div>
        <div class="telachat">
            <!-- Aqui vão os scripts para IA responder -->
        </div>
        <section class="input" id="input">
            <button class="enviar" id="enviar"> > </button>
            <input type="text" class="inputtxt" id="inputtxt" placeholder="Fale mais sobre seu projeto:">
        </section>
    </section>
    <script src="{{ url_for('static', filename='js/script.cadrastro.js') }}"></script>
</body>
</html>