<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela/Inicial/Chat</title>
    <!--{{ url_for('static', filename='css/styles.css') }}-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index1.css') }}">
</head>
<body>
    <nav class="navbar" id="navbar">
    <img src="" alt="">
        <ul class="nav-menu" id="navmenu">
            <li id="li"><a id="a" href="#">Produtos</a></li>
            <li id="li"><a id="a" href="#">Comunidade</a></li>
            <li id="li"><a id="a" href="#">Sobre nós</a></li>
            <li id="li"><a id="a" href="#">Cronogramas</a></li>
            <li id="li"><a id="a" href="#">Contatos</a></li>
        </ul>
        <div class="nav-buttons" id="navbuttons">
            <button class="sign-in" id="signin">Login</button>
            <button class="register" id="register">Cadastrar-se</button>
        </div>
    </nav>
    <section class="chat" id="chat">
        <div class="opcoes" id="opcoes">
            <button class="botao" id="botao" onclick="FecharAba()">
            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-align-bottom" viewBox="0 0 16 16"><rect width="4" height="12" x="6" y="1" rx="1"/><path d="M1.5 14a.5.5 0 0 0 0 1zm13 1a.5.5 0 0 0 0-1zm-13 0h13v-1h-13z"/></svg>
            </button>
        </div>
        <main>
            <div class="telachat">
                <!--Aqui vai os scripts pra ia responder-->
            </div>
        </main>
    </section>
    <section class="input" id="input">
        <input type="text" class="inputtxt" id="inputtxt" placeholder="Fale mais sobre seu projeto:">
        <button class="enviar" id="enviar">Enviar</button>
    </section>
    <script src="{{ url_for('static', filename='js/index1.js')}}"></script>
</body>
</html>