<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.chat.css') }}">
    
</head>

<body>
    <nav class="navbar" id="navbar">
            <a class="element" href="{{ url_for('sobrenos') }}">Sobre nós</a>
            <a href="{{ url_for('login') }}" class="signin">Login</a>
            <a href="{{ url_for('cadastrar') }}" class="register">Cadastrar-se</a>
    </nav>
    <section class="chat" id="chat">
        <div class="telachat">
            <div class="messages" id="messages">
                <!-- As mensagens do chat vão aqui -->
            </div>
            <section class="input" id="input">
                <button class="enviar"  onclick="sendMessage()">></button>
                <textarea class="inputtxt" id="inputtxt" placeholder="Fale mais sobre seu projeto:" rows="1"></textarea>
            </section>
        </div>
    </section>
    <script src="{{ url_for('static', filename='js/script.chat.js') }}"></script>
</body>
</html>