<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/script.recupera.senha.nvsenha.js') }}">
    <title>Recuperar Senha</title>
</head>
<body>

    <a href= ""class="Cabecalho">Contato</a>
    
<h2>Callista</h2>

    <div class="RecuperaSenha3">
        <h2>Recuperar Senha</h2>
        <form action="/Login" method="post">
            <label for="senha">Senha:</label>
            <input type="senha" id="senha" name="senha" required>
            <label for="confirmaSenha">Confirmar Senha:</label>
            <input type="confirmaSenha" id="confirmaSenha" name="confirmaSenha" required>
            <button type="submit">Enviar</button>
        </form>
    </div>

</body>
</html>