<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.hub.css') }}">
</head>
<body>
    <nav class="navbar" id="navbar">
        <!--Logo da Empresa-->
        <img class="logo" src="" alt="">
        <div class="navbar">
            
            <a class="element" href="{{ url_for('sobrenos') }}">Sobre nós</a>
            <a href="{{ url_for('login') }}" class="signin">Login</a>
            <a href="{{ url_for('cadastrar') }}" class="register">Cadastrar-se</a>
        </div>
    </nav>
        <div>

            <h1 class="Inicio">
                Bem-Vindo à Callista
            </h1>
            
        </div>

    <script src="{{ url_for('static', filename='js/script.hub.js') }}"></script>
</body>
</html>