<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.login.css') }}">
</head>
<!--
    input senha == iptSenhaLogin
    input email == iptEmailLogin
-->
<body>
    <section class="left-panel">
        <nav class="nav">
            <a href="{{ url_for('sobrenos') }}">Sobre nós</a>
            <a href="{{ url_for('cadastrar') }}">Cadastrar-se</a>
            <a class="element" href="{{ url_for('index') }}">Hub</a>
        </nav>
        <div class="img">
            <img class="geniodadiv" src="/static/imgs/iamgem.login.png" alt="">
        </div>
    </section>
    <div class="right-panel">
        <div class="geniodadiv2" >
        <img class="logo" src="/static/imgs/logo.png" alt="">
        <section class="loginform" id="loginform">
            <h1 class="login">Login</h1>
            <form action="login" method="POST">
                <div class="input-group">
                    <input autocomplete="current-password" required type="email" name="iptEmailLogin" class="input">
                    <label class="user-label">Email</label>
                </div>
                <div class="input-group-senha">
                    <button type="button" id="hidepassword" class="hidepassword">
                        <img onclick="eyeopen()" id="olhoaberto" class="olhoaberto" src="/static/imgs/visible.png"
                            alt="olho aberto">
                    </button>
                    <input required type="password" name="iptSenhaLogin" autocomplete="current-password"
                        class="input-senha" id="input-senha">
                    <label class="user-label-senha">Senha</label>
                </div>
                <button type="submit" id="btnEntrarLOGIN" class="btn-submit" onclick="tclaEnter()">Entrar</button>
            </form>
        </section>
        <p class="signup">Ainda não tem uma conta?
            <a class="s" rel="noopener noreferrer" href="{{ url_for('cadastrar') }}" class="">Cadastre-se aqui</a>
        </p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.login.js') }}"></script>
</body>

</html>